fastapi==0.115.11
uvicorn==0.34.0
dask==2025.2.0
distributed==2025.2.0
shap==0.47.0
pandas==2.2.3
numpy==1.26.4
torch==2.6.0
transformers==4.49.0
datasets==3.4.0
h5py==3.13.0
scikit-learn==1.6.1
faiss-cpu==1.10.0
elasticsearch==8.17.2
prometheus_client==0.21.1
twilio==9.5.0
python-jose==3.4.0
cryptography==44.0.2
pydantic==2.10.6
sentencepiece==0.2.0
spacy==3.8.4
gensim==4.3.3
strawberry-graphql==0.262.5
tqdm==4.67.1
